<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Besteraunts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>


    <div class="jumbotron text-center">
    <h1><a href="/"> Besteraunts</a></h1>
      <p>The Best Restaurants in Portland</p>
      <form class="container" action="/search_results" method="post">

             <div class="col-md-6 col-md-offset-3">
            	<div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for Restaurants" name="search">
                <span class="input-group-addon">Search</span>
              </div>
            </div>

      </form>


    </div>
    <div class="container text-center">
      Your Search Results:


        @if(@Model.GetId() != 0) {
          <a href="/restaurant/@Model.GetId()">@Model.GetDescription()</a>
        } else {
          <p>No Results Found! Please add your restaurant.</p>
          <h2><a href="/restaurant_add">Add your favorite restaurant here!</a></h2>
        }
    </div>
=======
Your Search Results:


  @if(@Model.GetId() != 0) {
    <a href="/restaurant/@Model.GetId()">@Model.GetDescription()</a>
  } else {
    <p>No Results Found! Please add your restaurant.</p>
  }
>>>>>>> 142e26394e21f1dfbc3d013019672ec7810fe0a0
